.question-section{
    text-align: center;
    width: 15%;
    margin-left: 44%;
    margin-top: 20%;
    border: black;
    padding: 10px;
    border-style: solid;
    /* border-width: 1px 10px 4px 20px; */
    background-color: bisque;
    border-radius: 15%;
}
.input-box{
    width: 100%;
}
.bot-ques{
    width: 100%;

}